@import url('https://fonts.googleapis.com/css?family=Oswald:200,500');

body {
    
font-family: "Oswald", sans-serif; 
margin: 0;
padding: 0;
width: 100%;
    
}

h1 {
    
font-family: "Oswald", sans-serif; 
font-weight: normal;
font-size: 55px;
text-align: left;
color: #fff;
margin: 0;
padding: 0;
    
}

h2 {
    
font-family: "Oswald", sans-serif; 
font-weight: normal;
font-size: 40px;
text-align: left;
color: #fff;
margin: 0;
padding: 0;
    
}

h3 {
    
font-family: "Oswald", sans-serif; 
font-weight: normal;
font-size: 16px;
text-align: left;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
    
}

.center { 
    margin: 0 auto; 
}

.content { 
    margin: 0 auto; 
    width: 960px; }

.clear { 
    clear: both; }

#nav { 
    width: 500px; 
    float: right; 
    margin-top: 32px; 
    
}

#logo a { 
    
    color: #fff; 
    text-decoration: none; 
    float: left; 
    font-size: 30px; 
    margin-top: 20px; 
    color: #fff; 
    font-family: "Oswald", sans-serif; 
    font-weight: bold; 
}

#nav ul {
    
list-style: none;
display: block;
margin: 0 auto;
list-style: none;
    
}

#nav li {
    
margin-top: 0px;
float: left;
padding-left: 15px;
    
}

#nav li a { 
    
    color: #fff; 
    opacity:0.6; 
    font-size: 16px; 
    text-decoration: none; 
    font-family: "Oswald", sans-serif; 
}

#nav li a.active { 
    
    color: #fff; 
    opacity:1; 
    border-bottom: 2px solid #fff; 
}

#nav li a:hover { 
    
    color: #fff; 
    opacity:1; 
}

.description {
    
font-family: "Oswald", sans-serif; 
font-weight: normal;
font-size: 30px;
text-align: left;
margin: 50px auto;
    
}

.almamater {
    
font-family: "Oswald", sans-serif; 
font-weight: 200;
font-size: 30px;
text-align: left;
margin: 50px auto;
    
}

 .author_name_white { 
     
    font-family: "Oswald", sans-serif;
    margin: 70px 0 0 75px; 
    color: #fff; 
    font-size: 20px; 
} 

 .author_name_gray { 
     
     font-family: "Oswald", sans-serif; 
     margin: 70px 0 0 75px; 
     color: #94a4a4; 
     font-size: 20px; } 

 .quotes_container { 
     
     width: 800px; 
     margin: 0 auto; 
}

#christmas_tree { 
    
    background: url('../img/christmas-tree.png')no-repeat; 
    width: 48px; 
    height: 77px; 
    margin: 0 auto; 
    position: relative; 
    bottom: -35px;}

#divider { 
    
    background: url('../img/divider.png')no-repeat; 
    width: 300px; 
    height: 35px; 
    margin: 0px auto 27px auto; 
}

#Introduction, #BlurbsByBhargs { 
    
    width: 100%; 
}

#header {
    
font-family: "Oswald", sans-serif;   
width: 100%;
background-color: #314455;
height: 80px;
position: fixed;
margin-top: 30px;
    
}

#Introduction{
    
background-color: #644E5B;
color: #fff;
height: 600px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}

#BlurbsByBhargs{
    
background-color: #9E5A63;
color: #333333;
height: 600px;
margin: 0 auto;
overflow: hidden;
padding: 200px 0;
font-family: "Oswald", sans-serif; 
    
}

#Photography{
    
background-color: #C96567;
color: #fff;
height: 600px;
padding: 170px 0 0 0;
background-size: cover;
    
}

#Contact{
    
background-color: #97AABD;
color: #fff;
height: 600px;
padding: 200px 0;
    
}
